<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179905458552-3o6mmh7unec0359die8o6odoeercmavf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179905458552-3o6mmh7unec0359die8o6odoeercmavf</string>
	<key>API_KEY</key>
	<string>AIzaSyAhI_a7JSTDxVrUxmLsF85_XIy2Ef_S6n4</string>
	<key>GCM_SENDER_ID</key>
	<string>179905458552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hereForu</string>
	<key>PROJECT_ID</key>
	<string>hereforyou-ae170</string>
	<key>STORAGE_BUCKET</key>
	<string>hereforyou-ae170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179905458552:ios:3b5fe265e7ff8b2f35988d</string>
	<key>DATABASE_URL</key>
	<string>https://hereforyou-ae170-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>